.character-card{
  margin: 5vh 0px;
  border: 1px solid grey;
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__image{
    height: 20vh;
    width: auto;
  }
}