.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width:100%;
  background-color: dimgray;

  &__checkboxes{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
  }
}